.category-item {
    width: 200px;
    padding: 0px 15px;
    text-align: end;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    aspect-ratio: 3.5;
    align-items: center;
}

.category-item:hover {
    background-color: aliceblue;
}

.category-item p {
    flex-grow: 1;
    padding-right: 5px;
}

.category-item img {
    display: block;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}