#search-input-container {
    background-color: aliceblue;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
}

#search-input-container>form {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#search-input-container input {
    padding: 10px 5px 10px 5px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
}