#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-category-panel {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px 15px 0px 15px;
}