.shops-page {
    padding: 5px 10vw;
    background-image: url('/public/review_bg.png');
}

.shop-container {
    display: flex;
    flex-direction: row;
    margin: 5vh 0;
}

.shop-img {
    width: 50vw;
}

.shop-description {
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-img img {
    display: block;
    width: 100%;
    object-fit: contain;
}
